name: "Description of the services"

services:
  service1:
    checks:
      check1:
        - probe: "command"
        - expected: "value"
      check2:
        - probe: "command"
        - expected: "value"
    depends_on:
      - service2

  service2:
    checks:
      check1:
        - probe: "command"
        - expected: "value"
